.display {
  width: 50px;
  height: 20px;
  background: var(--color-floral-white);
  border: 2px solid var(--color-fiery-rose);
  box-sizing: border-box;
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
}

.point-1 {
  width: 14px;
  height: 14px;
  background: var(--color-old-silver);
}

.point-2 {
  width: 14px;
  height: 14px;
  background: var(--color-old-silver);
}

.point-3 {
  width: 14px;
  height: 14px;
  background: var(--color-old-silver);
}
