@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  max-width: 320px;
  background-color: var(--color-pomb-and-power);
  font-family: 'Press Start 2P', cursive;
  margin-left: auto;
  margin-right: auto;
}
