:root {
  --color-alura: #051a33;
  --color-pomb-and-power: hsl(271, 24%, 48%);
  --color-floral-white: hsl(49, 100%, 97%);
  --color-fiery-rose: hsl(351, 85%, 65%);
  --color-old-silver: hsl(0, 0%, 51%);
  --color-sandstorm: hsl(49, 90%, 62%);
}
